### Documentation URL ###
- https://docs.greatexpectations.io/docs/guides/setup/setup_overview

In [1]:
import pandas as pd
import great_expectations as ge

In [3]:
source_url = "https://raw.githubusercontent.com/prodramp/publiccode/master/datasets/titanic.csv"

## You should not be using pandas library to ready

In [4]:
df = pd.read_csv(source_url)

In [5]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Let Great Expectations to read the Data itself first

In [6]:
df = ge.read_csv(source_url)

In [7]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
df.expect_column_to_exist('Fare')

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [21]:
df.expect_column_to_exist('Age')

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [22]:
df.expect_column_to_exist('NotFound')

{
  "success": false,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [25]:
df.expect_column_values_to_be_between('Fare', 1, 1000)

{
  "success": false,
  "result": {
    "element_count": 891,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 15,
    "unexpected_percent": 1.6835016835016834,
    "unexpected_percent_total": 1.6835016835016834,
    "unexpected_percent_nonmissing": 1.6835016835016834,
    "partial_unexpected_list": [
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0
    ]
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [28]:
df.expect_column_values_to_be_between('Fare', 1, 1000, mostly=0.99)

{
  "success": false,
  "result": {
    "element_count": 891,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 15,
    "unexpected_percent": 1.6835016835016834,
    "unexpected_percent_total": 1.6835016835016834,
    "unexpected_percent_nonmissing": 1.6835016835016834,
    "partial_unexpected_list": [
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0,
      0.0
    ]
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [29]:
df.expect_column_values_to_not_be_null("Cabin")

{
  "success": false,
  "result": {
    "element_count": 891,
    "unexpected_count": 687,
    "unexpected_percent": 77.10437710437711,
    "unexpected_percent_total": 77.10437710437711,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [30]:
df.expect_column_values_to_be_in_set('Sex', ['male', 'female'])

{
  "success": true,
  "result": {
    "element_count": 891,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
#df.expect

In [31]:
config = df.get_expectations_config()

/Users/avkash/anaconda3/envs/python38/lib/python3.8/site-packages/great_expectations/data_asset/data_asset.py:539: DeprecationWarning: get_expectations_config is deprecated, and will be removed in a future release. Please use get_expectation_suite instead.
  warnings.warn(

In [32]:
config

{
  "expectations": [
    {
      "meta": {},
      "kwargs": {
        "column": "Fare"
      },
      "expectation_type": "expect_column_to_exist"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "Survived"
      },
      "expectation_type": "expect_column_to_exist"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "Age"
      },
      "expectation_type": "expect_column_to_exist"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "Sex",
        "value_set": [
          "male",
          "female"
        ]
      },
      "expectation_type": "expect_column_values_to_be_in_set"
    }
  ],
  "data_asset_type": "Dataset",
  "ge_cloud_id": null,
  "expectation_suite_name": "default",
  "meta": {
    "great_expectations_version": "0.14.9"
  }
}

In [33]:
df.save_expectation_suite('saved_titanic_exp.json')

In [34]:
!ls

01-Introduction.ipynb
02-Package Installation.ipynb
03-Great Expectations Initialize.ipynb
04-Expectation Context.ipynb
05-Quick Great Expectations Tutorial.ipynb
06-G-Expectation-With-TimeSeries-Dataset.ipynb
07-PySpark-DataFrame-with-GE.ipynb
Pandas Profiling with Great Expectations.ipynb
great_expectations
saved_titanic_exp.json

In [35]:
!cat saved_titanic_exp.json

{
  "data_asset_type": "Dataset",
  "expectation_suite_name": "default",
  "expectations": [
    {
      "expectation_type": "expect_column_to_exist",
      "kwargs": {
        "column": "Fare"
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_to_exist",
      "kwargs": {
        "column": "Survived"
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_to_exist",
      "kwargs": {
        "column": "Age"
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_values_to_be_in_set",
      "kwargs": {
        "column": "Sex",
        "value_set": [
          "male",
          "female"
        ]
      },
      "meta": {}
    }
  ],
  "ge_cloud_id": null,
  "meta": {
    "great_expectations_version": "0.14.9"
  }
}

In [36]:
new_config = df.get_expectations_config('saved_titanic_exp.json')

In [37]:
new_config

{
  "expectations": [
    {
      "meta": {},
      "kwargs": {
        "column": "Fare"
      },
      "expectation_type": "expect_column_to_exist"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "Survived"
      },
      "expectation_type": "expect_column_to_exist"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "Age"
      },
      "expectation_type": "expect_column_to_exist"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "Sex",
        "value_set": [
          "male",
          "female"
        ]
      },
      "expectation_type": "expect_column_values_to_be_in_set"
    }
  ],
  "data_asset_type": "Dataset",
  "ge_cloud_id": null,
  "expectation_suite_name": "default",
  "meta": {
    "great_expectations_version": "0.14.9"
  }
}

In [38]:
df.validate(new_config)

{
  "statistics": {
    "evaluated_expectations": 4,
    "successful_expectations": 4,
    "unsuccessful_expectations": 0,
    "success_percent": 100.0
  },
  "success": true,
  "results": [
    {
      "success": true,
      "expectation_config": {
        "meta": {},
        "kwargs": {
          "column": "Fare"
        },
        "expectation_type": "expect_column_to_exist"
      },
      "result": {},
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "meta": {},
        "kwargs": {
          "column": "Survived"
        },
        "expectation_type": "expect_column_to_exist"
      },
      "result": {},
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "meta": {},
        "kwargs": {
          "column": "Age"
        },
        "expectation_type": "expect_column_to_exist"
      },
      "result": {},
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "meta": {},
        "kwargs": {
          "column": "Sex",
          "value_set": [
            "male",
            "female"
          ]
        },
        "expectation_type": "expect_column_values_to_be_in_set"
      },
      "result": {
        "element_count": 891,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    }
  ],
  "meta": {
    "great_expectations_version": "0.14.9",
    "expectation_suite_name": "default",
    "run_id": {
      "run_name": null,
      "run_time": "2022-03-08T23:48:36.969120+00:00"
    },
    "batch_kwargs": {
      "ge_batch_id": "bee02a70-9f38-11ec-8f14-acde48001122"
    },
    "batch_markers": {},
    "batch_parameters": {},
    "validation_time": "20220308T234836.968899Z",
    "expectation_suite_meta": {
      "great_expectations_version": "0.14.9"
    }
  },
  "evaluation_parameters": {}
}

In [39]:
df.expect_select_column_values_to_be_unique_within_record(['Name'])

{
  "success": true,
  "result": {
    "element_count": 891,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [40]:
df.expect_select_column_values_to_be_unique_within_record(['Ticket'])

{
  "success": true,
  "result": {
    "element_count": 891,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [41]:
ge.rule_based_profiler()

TypeError: 'module' object is not callable