In [1]:
import pandas as pd
import great_expectations as ge

In [2]:
source_url = "https://raw.githubusercontent.com/prodramp/publiccode/master/datasets/supermarket_sales.csv"

## Let Great Expectations to read the Data itself first¶

In [3]:
df = ge.read_csv(source_url)

In [5]:
df.sample(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
110,479-26-8945,B,Mandalay,Member,Female,Sports and travel,16.49,2,1.6490,34.6290,2/5/2019,11:32,Ewallet,32.98,4.761905,1.6490,4.6
278,537-72-0426,C,Naypyitaw,Member,Male,Fashion accessories,70.99,10,35.4950,745.3950,3/20/2019,16:28,Cash,709.90,4.761905,35.4950,5.7
212,142-63-6033,B,Mandalay,Normal,Male,Home and lifestyle,92.36,5,23.0900,484.8900,3/20/2019,19:17,Ewallet,461.80,4.761905,23.0900,4.9
442,138-17-5109,A,Yangon,Member,Female,Home and lifestyle,89.21,9,40.1445,843.0345,1/15/2019,15:42,Credit card,802.89,4.761905,40.1445,6.5
84,360-39-5055,C,Naypyitaw,Member,Male,Sports and travel,48.91,5,12.2275,256.7775,3/9/2019,10:17,Cash,244.55,4.761905,12.2275,6.6
833,528-14-9470,A,Yangon,Member,Male,Health and beauty,91.30,1,4.5650,95.8650,2/14/2019,14:42,Ewallet,91.30,4.761905,4.5650,9.2
496,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.3220,132.7620,1/1/2019,15:51,Cash,126.44,4.761905,6.3220,8.5
758,250-17-5703,A,Yangon,Member,Male,Food and beverages,18.85,10,9.4250,197.9250,2/27/2019,18:24,Ewallet,188.50,4.761905,9.4250,5.6
947,676-10-2200,B,Mandalay,Member,Male,Fashion accessories,53.78,1,2.6890,56.4690,2/3/2019,20:13,Ewallet,53.78,4.761905,2.6890,4.7
742,373-14-0504,A,Yangon,Member,Female,Sports and travel,71.63,2,7.1630,150.4230,2/12/2019,14:33,Ewallet,143.26,4.761905,7.1630,8.8

In [6]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [13]:
df.expect_column_values_to_be_dateutil_parseable('Date')

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

In [10]:
df.expect_column_values_to_match_strftime_format(column="Date", strftime_format="%m/%d/%Y")

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

In [7]:
df.expect_column_values_to_match_strftime_format(column="Date", strftime_format="%Y-%m-%d %H:%M:%S")

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 1000,
    "unexpected_percent": 100.0,
    "unexpected_percent_total": 100.0,
    "unexpected_percent_nonmissing": 100.0,
    "partial_unexpected_list": [
      "1/5/2019",
      "3/8/2019",
      "3/3/2019",
      "1/27/2019",
      "2/8/2019",
      "3/25/2019",
      "2/25/2019",
      "2/24/2019",
      "1/10/2019",
      "2/20/2019",
      "2/6/2019",
      "3/9/2019",
      "2/12/2019",
      "2/7/2019",
      "3/29/2019",
      "1/15/2019",
      "3/11/2019",
      "1/1/2019",
      "1/21/2019",
      "3/11/2019"
    ]
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": false
}

In [14]:
df['DateTime'] = pd.to_datetime(df['Date'])

In [15]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [16]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,DateTime
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,2019-03-08
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,2019-03-03
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,2019-01-27
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,2019-02-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,2019-01-29
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4,2019-03-02
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7,2019-02-09
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,2019-02-22
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,2019-02-18

In [18]:
df.expect_column_values_to_be_dateutil_parseable('DateTime')

TypeError: Values passed to expect_column_values_to_be_dateutil_parseable must be of type string.
If you want to validate a column of dates or timestamps, please call the expectation before converting from string format.

In [19]:
df.expect_column_values_to_match_strftime_format(column="DateTime", strftime_format="%Y-%m-%d %H:%M:%S")

TypeError: Values passed to expect_column_values_to_match_strftime_format must be of type string.
If you want to validate a column of dates or timestamps, please call the expectation before converting from string format.